*.ppu
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

# Lazarus files
*.lps

# Unused backup and output lib
backup/
lib/

# SC3K testing dat
*.dat

# Linux built executable (which no extensions)
sc3k_sprextract
